<!DOCTYPE html>
<html lang="en">
<head>

  {% load static %}
  <meta charset="UTF-8">
  <link rel="stylesheet" href="{% static 'css/styles.css' %}">
  <title>Webim test</title>

</head>
<body>
  <header class="header">
    <div class="header__github-block">
      {% if request.session.github_token %}
        <a class="header__github-auth" href="{% url 'logout' %}">
          <img class="header__github-logo" src="https://avatars1.githubusercontent.com/u/9919?s=200&v=4"
               alt="github_logo">
          <button class="header__github-logo-text">Выйти из профиля <b>GITHUB</b></button>
        </a>
      {% else %}
        <a class="header__github-auth" href="{{ github_auth }}?{{ auth_params }}">
          <img class="header__github-logo" src="https://avatars1.githubusercontent.com/u/9919?s=200&v=4"
               alt="github_logo">
          <button class="header__github-logo-text">Авторизироваться через <b>GITHUB</b></button>
        </a>
      {% endif %}
    </div>
  </header>
  <main class="main">
    <div class="main__numbers-block">
      {{ message }}
    </div>
  </main>
  <footer class="footer"></footer>
</body>
{% if request.session.github_token %}
  <script>
      var webSocketObject = new WebSocket(
          `ws://` + window.location.host + `/ws/index`
      );

      webSocketObject.onmessage = function (e) {
          let data = JSON.parse(e.data);
          let message = data['message']
          console.log(message)
          document.querySelector('div.main__numbers-block').textContent = message;
      };
  </script>
{% endif %}
</html>
