<!DOCTYPE html>
<html lang="en">
<head>

  {% load static %}
  <meta charset="UTF-8">
  <link rel="stylesheet" href="{% static 'css/styles.css' %}">
  <title>Webim test</title>

</head>
<body>
  <header class="header">
    <a class="header__login-button" href="{% url 'oauth2_provider:authorize' %}?{{ auth_params }}">Войти</a>
    <a class="header__login-button" href="{% url 'auth' %}">Войти в GITHUB</a>
    <button class="header__logout-button">Выйти</button>
  </header>
  <main class="main">
    <div class="main__numbers-block">

    </div>
  </main>
  <footer class="footer">

  </footer>
</body>
</html>
