<!DOCTYPE html>
<html lang="en">
<head>

  {% load static %}
  <meta charset="UTF-8">
  <link rel="stylesheet" href="{% static 'css/styles.css' %}">
  <title>Webim test</title>

</head>
<body>
  <header class="header">
    <div class="header__github-block">
      <a class="header__github-auth" href="{{ github_auth }}?{{ auth_params }}">
        <img class="header__github-logo" src="https://avatars1.githubusercontent.com/u/9919?s=200&v=4"
             alt="github_logo">
        <button class="header__github-logo-text">Авторизироваться через <b>GITHUB</b></button>
      </a>
    </div>
  </header>
  <main class="main">
    <div class="main__numbers-block">

    </div>
  </main>
  <footer class="footer">

  </footer>
</body>
</html>
